IMG.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

form {
	display: inline-block;
	text-align: center;
}

FORM.searchform{
	margin-left: auto;
	margin-right: auto;
}

div.search{
	height: 10em;
	position: relative;
}
search{
	margin: 0;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
}

div.text {
	padding-left:15%;
}

#input{ width:150%}
