{% csrf_token %}
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static "css/resultstyle.css" %}">
<title>
Search Results
</title>
</head<
<body>
<a href="../">
    <img src="{% static "images/MiBrowResult.jpg" %}" alt="logo/Home"/>
</a>
<hr>
<div id="floatMenu">
    <p><a href="#" onclick="return false;">Home</a></p>

</div>
<div class="result_body">
    <ul>
    {% for o in result_lists %}

        <li><p><div class="item_head">{{o.mirna}}</div>
                <div class="item_body">
                    {{o.chr_loc}}<br>
                    {{o.organism}}<br> 
                    {{o.target_seq}}<br>
                </div> 
        </p></li>
        
    {% endfor %}
  </ul>
</div>
<p>  {{ my_name }} </p>
<p> {{mir}} </p>
</body>
<html>
